<!-- Header -->
<header id='top' class='header'>
  <div class='text-vertical-center'>
    <h1>Walk In Faith: Allergies and Eating Disorders Workshop</h1>
    <br>
    <a href='#about' class='btn btn-dark btn-lg mt-3'>Find Out More</a>
  </div>
</header>
