<!-- Header -->
<header id='top'>
  <div class='text-center'>
   <%= image_tag 'images/LOGO_TRANS_1_CROP.gif', class: 'img-fluid' %>
  </div>
</header>
<div class="container">
  <div class="row text-center">
    <div class='col-sm'>
      <a href="index.htm" class='btn btn-secondary m-1' role='button'>Home</a>
      <a href="meet_the_grohman's.htm" class='btn btn-secondary m-1' role='button'>Meet the Grohmans</a>
      <a href="comments.htm" class='btn btn-secondary m-1' role='button'>Comments</a>
      <a href="dinosaurs today.htm" class='btn btn-secondary m-1' role='button'>Dinosaurs Today</a>
      <a href="conference_schedule.htm" class='btn btn-secondary m-1' role='button'>Conference Schedule</a>
      <a href="evidences.htm" class='btn btn-secondary m-1' role='button'>Evidences</a>
      <a href="creation_resources.htm" class='btn btn-secondary m-1' role='button'>Creation Resources</a>
      <a href="fossils.htm" class='btn btn-secondary m-1' role='button'>Fossils</a>
      <a href="no_clue.htm" class='btn btn-secondary m-1' role='button'>No Clue</a>
      <a href="does_this_matter.htm" class='btn btn-secondary m-1' role='button'>Does this Matter?</a>
      <a href="kid's_page.htm" class='btn btn-secondary m-1' role='button'>Kid's Page</a>
      <a href="faqs.htm" class='btn btn-secondary m-1' role='button'>FAQ's</a>
      <a href="video_trailers.htm" class='btn btn-secondary m-1' role='button'>Video Trailers</a>
      <a href="walk_in_faith.htm" class='btn btn-secondary m-1' role='button'>Walk In Faith</a>
      <a href="dana's_books.htm" class='btn btn-secondary m-1' role='button'>Dana's Books</a>
    </div>
  </div>
</div>
<hr/>
