<!-- Header -->
<header id='top' class='header'>
  <div class='text-vertical-center'>
    <h1>Walk In Faith</h1>
    <br>
    <!-- Top Video block (has different defaults and a larger play button to entice them to play)-->
    <div align="center" class="embed-responsive embed-responsive-4by3 col-lg-4 offset-lg-4 video-wrapper">
      <video id='what-is-this-video' class="embed-responsive-item" poster="/images/poster-video1.jpg">
        <source src="http://www.creationseminar.net/videofileswalkinfaithwhatisit/What is This Ministry.mp4" type="video/mp4">
        Your browser doesn't support the HTML5 video tag.
      </video>
    </div>
    <!-- /Video block -->
    <!-- Video block -->
    <p></p>
    <div align="center" class="embed-responsive embed-responsive-4by3 col-lg-4 offset-lg-4 video-wrapper">
      <video id='another-unique-name' controls class="embed-responsive-item" poster="/images/poster-video2.jpg">
        <source src="http://www.creationseminar.net/videofileswalkinfaithwhatisit/What is This Ministry.mp4" type="video/mp4">
        Your browser doesn't support the HTML5 video tag.
      </video>
    </div>
    <!-- /Video block -->
    <a href='#about' class='btn btn-dark btn-lg mt-3'>Find Out More</a>
  </div>
</header>
