<!-- Header -->
<header id='top' class='header'>
  <div class='text-vertical-center'>
    <h1>Walk In Faith</h1>
    <h3>Walk in Faith will help guide you in your daily life to learn how to receive what God has for you</h3>
    <br>
    <div align="center" class="embed-responsive embed-responsive-4by3 col-lg-4 offset-lg-4 video-wrapper">
      <video id='what-is-this-video' class="embed-responsive-item">
        <source src="http://www.creationseminar.net/videofileswalkinfaithwhatisit/What is This Ministry.mp4" type="video/mp4">
        Your browser doesn't support the HTML5 video tag.
      </video>
      </div>
    <a href='#about' class='btn btn-dark btn-lg mt-3'>Find Out More</a>
  </div>
</header>
