<!-- Footer -->
<footer id='contact'>
  <div class='container'>
    <div class='row'>
      <div class='col text-center'>
        <h4><strong>Walk In Faith</strong>
        </h4>
        <ul class='list-unstyled'>
        <li><i class='fas fa-phone'></i> <i class='fas fa-comment'></i> Call or text us at (603) 616-8907</li>
        <li>Email us at <a href='mailto:wif@creationseminar.net'><i class='far fa-envelope'></i> wif@creationseminar.net</a></li>
        <li><a href='http://www.creationseminar.net/wif_flyer.htm'><i class='fa fa-download'></i> Click here to download a customizable flyer</a></li>
        <!-- placeholder links for more stuff
        <li><a href='https://www.facebook.com/placeholder/'><i class='fab fa-facebook'></i> placeholder</a></li>
        <li><a href='https://www.instagram.com/placeholder/'><i class='fab fa-instagram'></i> @placeholder/a></li>
        <li><a href='https://www.youtube.com/user/placehold/videos'><i class='fab fa-youtube'></i> placeholder</a></li>
         -->
        </ul>
        <hr class='small'>
        <p class='text-muted'>Copyright &copy; Steve Grohman</p>
        <p class='text-muted'><a href='https://www.everything-it.biz'>Site design and maintenance by Everything I.T. LLC</a></p>
      </div>
    </div>
  </div>
</footer>
