---
title: Allergies and Eating Disorders
---
<%= partial 'aed-header' %>
<!-- About -->
<section id='about' class='about'>
  <div class='container'>
    <div class='row'>
      <div class='col text-center'>
        <h1>Walk in Faith Specialty Series by Steve Grohman</h1>
        <h2>Allergies and Eating Disorders</h2>
        <p class='lead'>
          <ul class='list-unstyled'>
            <li>Learn how you can be delivered from food, environmental, or animal allergies.</li>
            <li>No more asthma. No more celiac or lactose intolerance. No more irritable bowel syndrome. You do not have to live this way.</li>
            <li>Be able to eat the foods that you have not been able to eat for years without any issues.</li>
            <li>Learn what the Bible teaches on healing and deliverance at an Allergies and Eating Disorders Workshop.</li>
          </ul>
        </p>
      </div>
    </div>
    <!-- /.row -->
    <div class='row'>
      <div class='col jumbotron text-sm-center text-md-left'>
        <h4>Thank you for your interest in this ministry. Countless hours are spent with 
          hurting individuals at no charge. Your continued financial support of this 
          ministry through future <a href='https://creationseminar.net/onlineorders.htm'>donations</a> is greatly appreciated.
        </h4>
        <ul class='list-unstyled text-center'>
          <li><i class='fas fa-phone'></i> <i class='fas fa-comment'></i> Call or text us at (603) 616-8907</li>
          <li>Email us at <a href='mailto:wif@creationseminar.net'><i class='far fa-envelope'></i> wif@creationseminar.net</a></li>
          <!-- placeholder links for more stuff
          <li><a href='http://www.creationseminar.net/wif_flyer.htm'><i class='fa fa-download'></i> Click here to download a customizable flyer</a></li>
          <li><a href='https://www.facebook.com/placeholder/'><i class='fab fa-facebook'></i> placeholder</a></li>
          <li><a href='https://www.instagram.com/placeholder/'><i class='fab fa-instagram'></i> @placeholder/a></li>
          <li><a href='https://www.youtube.com/user/placehold/videos'><i class='fab fa-youtube'></i> placeholder</a></li>
          -->
        </ul>
      </div>
    </div>
  </div>
  <!-- /.container -->
</section>
<!-- Appeal to sign up -->
<section id="registration">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <h4>Register for an upcoming <a href="https://creationseminar.net/Registration_allergy.htm"> Allergies and Eating Disorders Workshop</a></h4>
        <h4>You can also explore our <a href="http://creationseminar.net/"> Creation Seminar Ministry</a></h4>
      </div>
    </div>
  </div>
</section>
<!-- Upcoming Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id='services' class='services'>
  <div class='container'>
    <div class='row text-center'>
      <div class='col'>
        <h2>Our Upcoming Workshops</h2>
        <hr class='small'>
        <!--Service item-->
        <div class='row'>
          <div class='col'>
            <div class='service-item'>
              <%= image_tag 'Tucson AED.jpg', width: '320', height: '214', class: 'img-fluid' %>
            </div>
          </div>
        </div>
        <!--/Service item-->
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- About -->
<section id='testimonies' class='about'>
  <div class='container'>
    <div class='row'>
      <div class='col text-center'>
        <h2>Celebrations</h2>
        <hr/>
      </div>
    </div>
    <!--Testimony Block -->
    <div class='row'>
      <div class='col'><hr/></div>
    </div>
    <div class='row'>
      <div class='col'>
        <p>"Before Bro. Grohman’s ministry, Walk in Faith, I suffered with IBS (irritable bowel syndrome) for over 10 years. 
          It had gotten so bad; I couldn't eat anything. I was loosing weight because I was too afraid to eat anything; 
          because, who wants to spend their whole day in the bathroom? It's embarrassing I couldn't go out to eat with my 
          family or anybody - simple tasks of going to the grocery store. We’d get headed down the road, and I’d have to 
          hurry up and go back home. I had to miss out on too many things because of it. It controlled my life and I hated it. 
          I had seen a nutritionist, which helped a little. Put a Band-Aid on but didn't get to the root cause of my issues."</p>
      </div>
    </div>
    <!--End Testimony Block-->
    <!--Testimony Block -->
    <div class='row'>
      <div class='col'><hr/></div>
    </div>
    <div class='row'>
      <div class='col'>
        <p>"After the Walk in Faith, meeting with Bro. Grohman, and having him to help me understand what was causing these 
          issues, I was like, alright, I gotta do this. I'm tired of missing out on life; tired of not doing things with my 
          friends and family. I’m tired of this controlling me. As soon as I was healed, I KNEW IT! The next night, I ate 
          STEAK AND ICE CREAM (AND I LOVE ICE CREAM) with absolutely no issues. It has been over three years now since my 
          healing and I am so thankful."</p>
      </div>
    </div>
    <!--End Testimony Block-->
    <!--Testimony Block -->
    <div class='row'>
      <div class='col'><hr/></div>
    </div>
    <div class='row'>
      <div class='col'>
        <p>"If you deal with this problem, please talk to Bro. Grohman. Please let him help you. Because there is no need 
          for this to control your life.” 
          - Olivia, New Hampshire"</p>
      </div>
    </div>
    <!--End Testimony Block-->
    <!--Testimony Block -->
    <div class='row'>
      <div class='col'><hr/></div>
    </div>
    <div class='row'>
      <div class='col'>
        <p>"What an amazing feeling. It’s been so long since I’d touched a cat, maybe 12 or 13 years."</p>
      </div>
    </div>
    <!--End Testimony Block-->
    <!--Testimony Block -->
    <div class='row'>
      <div class='col'><hr/></div>
    </div>
    <div class='row'>
      <div class='col'>
        <p>"The first thing we did was ate a bowl of ice  cream. It was such a wonderful experience. 
          My little girl ate her first bite of ice cream, looked at me with big eyes and said, 
          ‘Daddy, that’s my very first bite of ice cream!’"</p>
      </div>
    </div>
    <!--End Testimony Block-->
    <!--Testimony Block -->
    <div class='row'>
      <div class='col'><hr/></div>
    </div>
    <div class='row'>
      <div class='col'>
        <p>"I asked my son to make me a hamburger and to be sure and use the hamburger buns I had 
          just bought. I ate the hamburger; I had no pain. The next morning I had breakfast tacos 
          with tortillas. After lunch, I ate apple pie after at least 40 years of not being able 
          to eat apples."</p>
      </div>
    </div>
    <!--End Testimony Block-->
    <!--Testimony Block -->
    <div class='row'>
      <div class='col'><hr/></div>
    </div>
    <div class='row'>
      <div class='col'>
        <p>"In 2005, I was diagnosed with having asthma. We stepped out on faith and listened to your 
          instructions. I have been delivered, no issues. I don't claim it as mine. I use to say my asthma, 
          my allergies. It was never mine!"</p>
      </div>
    </div>
    <!--End Testimony Block-->
    <!--Testimony Block -->
    <div class='row'>
      <div class='col'><hr/></div>
    </div>
    <div class='row'>
      <div class='col'>
        <p>"They helped me see God through a whole new perspective. I was healed instantly. I could go 
          around animals. I could go around campfires. I could be outside without sneezing."</p>
      </div>
    </div>
    <!--End Testimony Block-->
    <!--Testimony Block -->
    <div class='row'>
      <div class='col'><hr/></div>
    </div>
    <div class='row'>
      <div class='col'>
        <p>"I had been gluten intolerant since 2011. I’ve had two slices of pizza, half a dozen of 
          Krispy Kreme donuts, and homemade rolls."</p>
      </div>
    </div>
    <!--End Testimony Block-->
    <!--Testimony Block -->
    <div class='row'>
      <div class='col'><hr/></div>
    </div>
    <div class='row'>
      <div class='col'>
        <p>"They (the girls) are able to eat anything they want!"</p>
      </div>
    </div>
    <!--End Testimony Block-->
    <div class='row'>
      <div class='col'><hr/></div>
    </div>
    <div class='row'>
      <div class='col jumbotron text-sm-center text-md-left'>
        <h4>Thank you for your interest in this ministry. Countless hours are spent with 
          hurting individuals at no charge. Your continued financial support of this 
          ministry through future <a href='https://creationseminar.net/onlineorders.htm'>donations</a> is greatly appreciated.
        </h4>
      </div>
    </div>
  </div>
  <!-- /.container -->
</section>
